<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">

  <div class="row" >
    <h1>Gestor de clientes</h1>

  </div>
  <div class="row">
    <button class="btn btn-success" on-click="obtenerClientes" type="button">Obtener clientes</button>
    <button class="btn btn-warning" on-click="insertarClientes" type="button">Insertar  clientes</button>  </div>

  <div class="row">
    <table class ="table table-striped">
      <tbody>
        <template is="dom-repeat" items={{clientes}}>

          <tr>
            <td>
            [[item.CustomerID]]
            </td>
              <td>
              [[item.ContactName]]
              </td>
              <td>
              [[item.CompanyName]]
              </td>
            </tr>



        </template>
      </tbody>
    </table>

  </div>
</div>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          }
        };
      }
      obtenerClientes()
      {
        var request =new XMLHttpRequest();

        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.clientes=JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }

      insertarClientes(){
        var request =new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente= {"CustomerId":"12345","ContactName":"Pepe","CompanyName":"BBVA"}
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
